@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold");
}

.montserrat-Bold {
  font-family: "Montserrat Bold";
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular");
}

.montserrat-Regular {
  font-family: "Montserrat Regular";
}

@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/Montserrat-Black");
}

.montserrat-Black {
  font-family: "Montserrat Black";
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat-Light");
}

.montserrat-Light {
  font-family: "Montserrat Light";
}

.text-black {
  color: #181b1f !important;
}

.bg-black {
  background-color: #181b1f;
}

.text-gray {
  color: #4a4f56 !important;
}

.bg-gray {
  background-color: #4a4f56;
}

.text-yellow {
  color: #FFCC00 !important;
}

.bg-yellow {
  background-color: #FFCC00;
}

.text-light {
  color: #fff !important;
}

.bg-light {
  background-color: #fff;
}

.text-dark {
  color: #333 !important;
}

.bg-dark {
  background-color: #333;
}

@media screen and (max-width: 767px) {
  body {
    overflow: auto !important;
  }
}

.champs {
  padding: 2vh 3vh;
  background-color: transparent !important;
  border: 0;
}

.champs::-webkit-input-placeholder {
  opacity: 1;
  color: black;
}

.champs:-ms-input-placeholder {
  opacity: 1;
  color: black;
}

.champs::-ms-input-placeholder {
  opacity: 1;
  color: black;
}

.champs::placeholder {
  opacity: 1;
  color: black;
}

.champs:focus:focus-visible {
  outline: 0 !important;
}

.champs::-webkit-input-placeholder {
  color: black;
  opacity: 1 !important;
}

.champs:-ms-input-placeholder {
  color: black;
  opacity: 1 !important;
}

.champs::-ms-input-placeholder {
  color: black;
  opacity: 1 !important;
}

.champs::placeholder {
  color: black;
  opacity: 1 !important;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("../images/fond-home.jpg");
  background-size: cover;
  font-family: "Montserrat Light";
  font-size: 2.2vh;
}

h2 {
  font-family: "Montserrat Bold";
}

#homePage {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-image: -webkit-gradient(linear, left top, right top, from(#282b30), to(#4a4f56)) !important;
  background-image: linear-gradient(to right, #282b30, #4a4f56) !important;
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  color: white;
}

h1 {
  font-family: "Montserrat Bold";
  font-size: 6vh;
}

.container-tittle {
  border-left: 0.8vh solid #FFCC00;
}

nav.menu li a {
  font-size: 2.3vh;
}

#homePage::after {
  content: "";
  width: 15vh;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  background: #FFCC00;
  left: 50%;
}

#homePage .row,
#homePage header {
  position: relative;
  z-index: 9;
}

.contact-details .contact::before {
  content: "";
  width: 3.5vh;
  display: inline-block;
  height: 3.5vh;
  vertical-align: middle;
  background-size: contain;
}

.contact-details .contact.phone::before {
  background-image: url("../images/phone.png");
}

.contact-details .contact.mail::before {
  background-image: url("../images/mail.png");
}

.contact-details .contact {
  position: relative;
}

.starttext {
  background: -webkit-gradient(linear, right top, left top, color-stop(60%, transparent), color-stop(0%, #434850));
  background: linear-gradient(to left, transparent 60%, #434850 0%);
  position: relative;
  left: -6vh;
  padding-left: 6vh;
  width: 115%;
}

.title_contact::after {
  content: "";
  width: 35vh;
  height: 1vh;
  background: #FFCC00;
  position: relative;
  display: block;
  top: 1vh;
}

section#contact #logo_menu_container {
  position: absolute;
  width: 100%;
  z-index: 999 !important;
}

section#contact {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

section#contact .contact-details {
  position: absolute;
  width: 100%;
  bottom: 5vh;
}

section#contact .row {
  border-radius: 5vh;
}

.contact-rows {
  background-color: #32373D;
  border-radius: 25px 0 0 25px;
}

#form_neoticon input[type="text"] {
  background: transparent;
  border: 0;
  border-bottom: 0.4vh solid #707070;
  width: 45vh;
}

#form_neoticon input:focus-visible {
  outline: 0 !important;
}

#form_neoticon .titleForm {
  font-weight: 900 !important;
}

.list_navigation .nav_list a.active {
  background: #FFCC00;
  color: #333 !important;
}

.list_navigation .nav_list a {
  margin-left: 2vh;
}

.prestations_sections.show {
  display: block !important;
}

.list_navigation .nav_list li::before {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #FFCC00;
  vertical-align: top;
}

.prestations_sections {
  max-width: 100%;
  margin: 0 auto;
  min-height: 50vh;
  overflow-y: hidden;
}

.slick-arrow {
  border: 0;
  font-size: 0;
  background: transparent;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  width: 5vh;
  height: 5vh;
  padding: 0 !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-prev.slick-arrow {
  background-image: url("../images/right.png");
  -webkit-transform: rotate(180deg) translate(0, 50%) !important;
          transform: rotate(180deg) translate(0, 50%) !important;
}

.slick-next.slick-arrow {
  background-image: url("../images/right.png");
  left: 95%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%) !important;
          transform: translate(0, -50%) !important;
  z-index: 999 !important;
}

.prestation_web .site_slick img {
  width: 70vh !important;
  margin: 0 auto !important;
}

.prestation_web.concept_web .site_slick img {
  width: 8vh !important;
  margin: 0 auto !important;
}

/*** ****/
.page-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.particles-area {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.options__toggle-btn {
  width: 2.5rem;
  height: 2.5rem;
  float: right;
  background-color: #181818;
  border: 1px solid #000;
  border-radius: 0.2rem;
  cursor: pointer;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55% 55%;
}

.options__toggle-btn::before {
  content: "Options: ";
  position: relative;
  right: 6rem;
  color: #fff;
  font-size: 1.25rem;
}

.open-btn {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAyMCAyMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjAgMjA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOiNGRkZGRkY7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQ0KPC9zdHlsZT4NCjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iMS41LDYuNSAxOC41LDYuNSAxMCwxNC41ICIvPg0KPC9zdmc+DQo=");
}

.close-btn {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAyMCAyMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjAgMjA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOiNGRkZGRkY7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQ0KPC9zdHlsZT4NCjxnPg0KCTxsaW5lIGNsYXNzPSJzdDAiIHgxPSIyIiB5MT0iMiIgeDI9IjE4IiB5Mj0iMTgiLz4NCgk8bGluZSBjbGFzcz0ic3QwIiB4MT0iMTcuNiIgeTE9IjIuMyIgeDI9IjIuMiIgeTI9IjE3LjciLz4NCjwvZz4NCjwvc3ZnPg0K");
}

.options {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 320px;
  z-index: 1000;
}

.slider {
  position: relative;
  width: 125px;
  height: 20px;
  background-color: #828282;
  cursor: w-resize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-thumb {
  height: 100%;
  background-color: #6495ED;
  width: 0%;
}

.options-list__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.options-list__color-input {
  max-width: 100px;
}

.option-value {
  width: 60px;
  text-align: center;
}

.options-list {
  width: 100%;
  padding: 0.25rem;
  margin-top: 3rem;
  border-radius: 0.2rem;
  background-color: #181818;
  color: #fff;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */